@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Scripture Journal App was designed and created by: </p>
<ul style="list-style-type: none">
    <li>Brad R. Allen </li>
</ul>
<p>Code can be found on GitHub at: <a href="https://github.com/allen-brad/CIT356_SriptureJournal" alt="GitHub - allen-brad/CIT365_ScriptureJournal" title="GitHub - allen-brad/CIT365_ScriptureJournal">GitHub - allen-brad/CIT365_ScriptureJournal</a></p>